<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>finalcharityproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginNgo</display-name>
    <servlet-name>loginNgo</servlet-name>
    <servlet-class>com.finalcharityproject.loginNgo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginNgo</servlet-name>
    <url-pattern>/loginNgo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NgoDashboard</display-name>
    <servlet-name>NgoDashboard</servlet-name>
    <servlet-class>com.finalcharityproject.NgoDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NgoDashboard</servlet-name>
    <url-pattern>/NgoDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProject</display-name>
    <servlet-name>AddProject</servlet-name>
    <servlet-class>com.finalcharityproject.AddProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProject</servlet-name>
    <url-pattern>/AddProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.finalcharityproject.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeProjectStatus</display-name>
    <servlet-name>ChangeProjectStatus</servlet-name>
    <servlet-class>com.finalcharityproject.ChangeProjectStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeProjectStatus</servlet-name>
    <url-pattern>/ChangeProjectStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProjectDonation</display-name>
    <servlet-name>ViewProjectDonation</servlet-name>
    <servlet-class>com.finalcharityproject.ViewProjectDonation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProjectDonation</servlet-name>
    <url-pattern>/ViewProjectDonation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonarRegistration</display-name>
    <servlet-name>DonarRegistration</servlet-name>
    <servlet-class>com.finalcharityproject.DonarRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonarRegistration</servlet-name>
    <url-pattern>/DonarRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ngoRegistration</display-name>
    <servlet-name>ngoRegistration</servlet-name>
    <servlet-class>com.finalcharityproject.ngoRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ngoRegistration</servlet-name>
    <url-pattern>/ngoRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>donorLogin</display-name>
    <servlet-name>donorLogin</servlet-name>
    <servlet-class>com.finalcharityproject.donorLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>donorLogin</servlet-name>
    <url-pattern>/donorLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>donorDonation</display-name>
    <servlet-name>donorDonation</servlet-name>
    <servlet-class>com.finalcharityproject.donorDonation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>donorDonation</servlet-name>
    <url-pattern>/donorDonation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDonardonation</display-name>
    <servlet-name>ViewDonardonation</servlet-name>
    <servlet-class>com.finalcharityproject.ViewDonardonation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDonardonation</servlet-name>
    <url-pattern>/ViewDonardonation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>donarChangePassword</display-name>
    <servlet-name>donarChangePassword</servlet-name>
    <servlet-class>com.finalcharityproject.donarChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>donarChangePassword</servlet-name>
    <url-pattern>/donarChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCompletedProjectsDonor</display-name>
    <servlet-name>ViewCompletedProjectsDonor</servlet-name>
    <servlet-class>com.finalcharityproject.ViewCompletedProjectsDonor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCompletedProjectsDonor</servlet-name>
    <url-pattern>/ViewCompletedProjectsDonor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OngoingProjectsDonor</display-name>
    <servlet-name>OngoingProjectsDonor</servlet-name>
    <servlet-class>com.finalcharityproject.OngoingProjectsDonor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OngoingProjectsDonor</servlet-name>
    <url-pattern>/OngoingProjectsDonor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeProjectStatusNGOhtml</display-name>
    <servlet-name>ChangeProjectStatusNGOhtml</servlet-name>
    <servlet-class>com.finalcharityproject.ChangeProjectStatusNGOhtml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeProjectStatusNGOhtml</servlet-name>
    <url-pattern>/ChangeProjectStatusNGOhtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>donorlogout</display-name>
    <servlet-name>donorlogout</servlet-name>
    <servlet-class>com.finalcharityproject.donorlogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>donorlogout</servlet-name>
    <url-pattern>/donorlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ngoProjectDetailsinsert</display-name>
    <servlet-name>ngoProjectDetailsinsert</servlet-name>
    <servlet-class>com.finalcharityproject.ngoProjectDetailsinsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ngoProjectDetailsinsert</servlet-name>
    <url-pattern>/ngoProjectDetailsinsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>projectngoinsertion</display-name>
    <servlet-name>projectngoinsertion</servlet-name>
    <servlet-class>com.finalcharityproject.projectngoinsertion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>projectngoinsertion</servlet-name>
    <url-pattern>/projectngoinsertion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCompletedProject</display-name>
    <servlet-name>ViewCompletedProject</servlet-name>
    <servlet-class>com.finalcharityproject.ViewCompletedProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCompletedProject</servlet-name>
    <url-pattern>/ViewCompletedProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetGet</display-name>
    <servlet-name>SetGet</servlet-name>
    <servlet-class>com.finalcharityproject.SetGet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetGet</servlet-name>
    <url-pattern>/SetGet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OngoingProjectsDonorServlet</display-name>
    <servlet-name>OngoingProjectsDonorServlet</servlet-name>
    <servlet-class>com.finalcharityproject.OngoingProjectsDonorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OngoingProjectsDonorServlet</servlet-name>
    <url-pattern>/OngoingProjectsDonorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>com.finalcharityproject.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UPI</display-name>
    <servlet-name>UPI</servlet-name>
    <servlet-class>com.finalcharityproject.UPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UPI</servlet-name>
    <url-pattern>/UPI</url-pattern>
  </servlet-mapping>
</web-app>